/* 渐变红色进度条 */
.rc-slider-track {
    background: linear-gradient(90deg, #ffd1d1 0%, #b30000 100%) !important;
    height: 10px !important;
}
.rc-slider-rail {
    background-color: #ffeaea !important;
    height: 10px !important;
}

/* 竖长橙色边框滑块（无蓝点） */
.rc-slider-handle {
    width: 13px !important;
    height: 26px !important;
    border-radius: 5px !important;
    margin-top: -12px !important;
    background: #fff !important;
    border: 3px solid #c30000 !important;
    box-shadow: none !important;
    transition: border 0.3s;
}
/* 滑块悬停/选中变深红 */
.rc-slider-handle:active, .rc-slider-handle:focus, .rc-slider-handle:hover {
    border: 3px solid #b30000 !important;
}

/* 刻度字体稍小 */
.rc-slider-mark-text {
    font-size: 15px !important;
    color: #222 !important;
}

/* 隐藏滑块上的气泡 */
.rc-slider-tooltip,
.rc-slider-tooltip-content {
    display: none !important;
}
